*{
    margin: 0;
    padding: 0;
}
html, body{
    overflow: hidden; /*to avoid scrollbars*/
}
.webgl{ /*we are going to make this fullscreen*/
    position: fixed;
    top :0;
    left: 0;
    outline: none;

}